{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:security/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "security"
  ],
  "rules": {
    "no-underscore-dangle": 0,
    "no-shadow": [2, {"allow": [
      "Location"
    ]}],
    "security/detect-object-injection": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/no-unused-state": 0
  }
}
