dist:
  # Use Ubuntu 16.04 as the OS. This is the latest available on Travis
  # at the time of writing this Feb 2019.
  - xenial
env:
  - CXX=g++-4.8
language:
  - node_js
node_js:
  - "10"
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - mongodb-upstart
      - mongodb-4.0-xenial
    packages:
      - gcc-4.8
      - g++-4.8
      - mongodb-org-server
      - mongodb-org-shell
install:
  - npm install
before_install:
# Don't need to install latest npm because Node >= 9
# - npm install -g npm
  - npm install -g greenkeeper-lockfile@1
before_script:
  - sleep 15
  - greenkeeper-lockfile-update
after_script:
  - greenkeeper-lockfile-upload
