dist:
  # https://docs.travis-ci.com/user/reference/bionic/
  - bionic
language:
  - node_js
node_js:
  - "13"
services:
  # When running on Bionic (Ubuntu 18.04) then the default version of MongoDB
  # should be 4.0
  - mongodb
install:
  - npm install
before_install:
# Don't need to install latest npm because Node >= 9
# - npm install -g npm
  - npm install -g greenkeeper-lockfile@1
before_script:
  - greenkeeper-lockfile-update
after_script:
  - greenkeeper-lockfile-upload
